article
  h1,
  h2
    margin-top: 0
    &.theme-
      &one
        color: $color-highlight-1
      &two
        color: $color-highlight-2
      &three
        color: $color-highlight-3
      &four
        color: $color-highlight-4

  h2
    margin-top: 2em

