article
  &.theme-
    &one
      h1, a
        color: $color-highlight-1

    &two
      h1, a
        color: $color-highlight-2
    &three
      h1, a
        color: $color-highlight-3
    &four
      h1, a
        color: $color-highlight-4

  h1,
  h2
    margin-top: 0
  h2
    margin-top: 2em

