.header
  margin: 9em 0
  text-align: center

  a, span
    display: inline-block
    min-width: em(100)
    max-width: 170px
    width: 33%

  .logo
    margin: auto
    display: block
    width: 100%
    pointer-events: none

