<!DOCTYPE html>

<html>
  <head>
    <title>Nathans blog</title>

    <link rel="stylesheet" media="screen" href="/all.css">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <%= link_to_unless_current('<img class="logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">', '/') %>
      </header>

      <%= yield %>

      <footer class="footer">
        Nathan Goddard
      </footer>
    </div>

    <script type="text/javascript" src="/all.js"></script>
  </body>
</html>

