<!DOCTYPE html>

<html>
  <head>
    <title>Nathans blog</title>

    <link rel="stylesheet" media="screen" href="/assets/all.css">
  </head>

  <body>
    <%= yield %>

    <script type="text/javascript" src="/all.js"></script>
  </body>
</html>

