@import 'bourbon/bourbon'
@import 'neat/neat'

$color-highlight-1: #4F8CB0 // blue
$color-highlight-2: #C46922 // green
$color-highlight-3: #90B854 // orange

$color-background: #171D22 // dark blue

$color-text: lighten($color-background, 75%)
$color-links-on: $color-highlight-2

$em-base: 16px

$medium-breakpoint: new-breakpoint(min-width 480px 12)
$big-breakpoint: new-breakpoint(min-width 768px 12)

body
  background: $color-background
  color: $color-text
  font-size: $em-base

body,
h1,
h2,
  font-family: 'Raleway', sans-serif

.container
  @include outer-container

.header
  padding: em(golden-ratio($em-base, 2))
  text-align: center
  @include media($big-breakpoint)
    padding: em(golden-ratio($em-base, 3))

  a, span
    display: inline-block
    min-width: em(100)
    max-width: em(200)
    width: 33%


  .logo
    margin: auto
    display: block
    width: 100%
    pointer-events: none

a
  color: $color-highlight-2
  text-decoration: none
  font-weight: bold
  @include transition(color .3s .2s)
  &:hover
    color: $color-highlight-3
    @include transition(color .3s)

h1
  text-align: center
  font-size: em(golden-ratio($em-base, 1))
  color: $color-highlight-2

  @include media($medium-breakpoint)
    font-size: em(golden-ratio($em-base, 2))

  @include media($big-breakpoint)
    text-align: left

h2
  @extend h1

  a
    color: $color-highlight-2
    &:hover
      color: $color-highlight-3

article
  &:nth-of-type(3n-1)
    h2
      color: $color-highlight-3
      a
        color: $color-highlight-3
        &:hover
          color: $color-highlight-1

  &:nth-of-type(3n)
    h2
      color: $color-highlight-1
      a
        color: $color-highlight-1
        &:hover
          color: $color-highlight-2

.footer
  padding: em(golden-ratio($em-base, 2))
  text-align: center
  color: $color-highlight-2

.tldr
  padding: em(golden-ratio($em-base, 1)) 0

  h3, p
    display: inline

